{% extends "base.html" %} 
{% load static %} 
{% block content %}
{% load django_bootstrap5 %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Update</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Update User Account....
      </p>
    </div>
  </div>
</header>

<div class="container full-height d-flex flex-column justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <br />
      <h2 class="text-center mb-4">Update</h2>
      
      <form method="POST" action="{% url 'update_user' %}">
        {% csrf_token %}
        {% bootstrap_form form %}

  
        <button type="submit" class="btn btn-success w-100 ">Update</button>
        <a  href="{% url 'update_password' %}"  class="btn btn-secondary w-100 mt-3">Update Password</a>
        
        
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
      </form>
    </div>
  </div>
</div>

{% endblock %}
